# general things to ignore
old/
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# ignore lock file since we are supporting multiple Python versions
Pipfile.lock

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports / tox, pytest
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
junit-*xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

.idea/

